.example-header-image {
    background-image: url('../../assets/img/mca.png');
    background-size: cover;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
  }

.login-form {
    padding: 20px;
}

.register-text {
    display: block;
    margin-top: 45px;
    padding-top: 30px;
    color: #ffffff;
}

.register-link {
    text-decoration: none;
    color: #007bff;
}
