<div mat-card-avatar class="example-header-image"></div>
<div fxLayoutAlign="center" class="main-div">
    <mat-card fxFlex="40" style="border-radius: 20px;">
        <mat-toolbar color="primary" style="border-radius: 20px 20px 0 0;"> <p fxLayoutAlign="center center" fxFlexFill>STUDENT LOGIN PAGE</p></mat-toolbar>
        <form fxLayoutAlign="stretch" fxLayout="column" class="login-form" [formGroup]="formGroup" (ngSubmit)="studentLogin()">
            <mat-form-field appearance="outline">
                <input matInput placeholder="Email" formControlName="email">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <input matInput type="password" placeholder="Password" formControlName="password">
            </mat-form-field>

            <button mat-raised-button type="submit" color="primary">Login</button>

            <p class="reister-text" style="margin-top: 20px; align-self: center;">Don't have an account? <a routerLink="student_register" class="register-link">Register here</a></p>
            <p class="reister-text" style="margin-top: 10px; align-self: center;">OR</p>
            <p class="reister-text" style="margin-top: 10px; align-self: center;">Login as staff <a routerLink="staff_login" class="register-link">here</a></p>
        </form>
    </mat-card>
</div>
