.example-header-image {
  background-image: url('../../assets/img/mca.png');
  background-size: cover;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 16px;
}

.example-spacer {
    flex: 1 1 auto;
  }

  table {
    width: 80%;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .approved {
    /*background-color: rgb(57, 168, 57);*/
    background-color: rgb(204, 255, 221);
  }
  
  .rejected {
    /*background-color: rgb(252, 62, 62);*/
    background-color: rgb(255, 204, 204);
  }

  .pending {
    /*background-color: rgb(192, 163, 36);*/
    background-color: rgb(255, 255, 204);
  }